streamlit 
langchain
langchain_community
langchain_groq
youtube-transcript-api
python-dotenv
validators
ipython
unstructured
googlesearch-python
deep-translator
langchain-nvidia-ai-endpoints
duckduckgo-search
aisuite
lamini 
cerebras-cloud-sdk 
groq 
datasets 
langchain-cerebras
typing
arxiv
wikipedia
cassio
tiktoken
langchainhub
langchain-huggingface
serpapi
streamlit 
langchain 
langchain-huggingface
langchain_astradb